/* This Is Why - Paramore Promo Website - CSS */

@font-face { /* Learned from https://www.pagecloud.com/blog/how-to-add-custom-fonts-to-any-website */
	font-family: FuturaBold;
	src: url("Futura PT Bold.ttf");
}

body { /* Help from online forum https://css-tricks.com/forums/topic/zero-margin-images/ */
	margin: 0;
	padding: 0;
	/*background: url("tvglitchbg.jpg"); */
}

/* Asked to create a large image or heading - Wanted to create an overlay image with the font that is used for their album*/
/* Learned from https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade */
.container{
	position: relative; /* Allows for it to be an element - block so that it can connect to overlay */
	width: 100%;
	height: 100%;
}

.image {
	display: block;
	width: 100%;
	height: 100%;
}

.overlay { 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
	opacity: 1;
}
 /* This is the overlay text and the actions needed for it to appear */
.text {
  color: white;
  font-size: 100px;
  font-family: 'FuturaBold';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Using ID's for header is the best way for me to organize 
https://www.w3schools.com/html/html_id.asp*/

#titleheader {
	font-family: 'FuturaBold';
	font-size: 50px;
	text-align: center;
}

#description {
	font-family: 'FuturaBold';
	font-size: 50px;
	text-align: center;
	color: darkorange;
}

/* Wanted to highlight Paramore's music videos using stills - a grid was the best way to display this */

.photoGrid { /* Learned from https://ehtmlu.com/blog/simple-css-image-grid/ b/c w3 made it more complicated */
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr); /* 3 columns */
	background-color: black;
}

#liveVideoTitle {
	font-family: 'FuturaBold';
	font-size: 50px;
	text-align: center;
	color: palevioletred;
}

/* Wanted to learn how to make a YouTube vid full-screen - https://stackoverflow.com/questions/36949747/make-video-fit-100-with-any-screen-resolution */
.video-container {
  position: absolute;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

#jimmyfallon {
	min-width: 100%; 
  min-height: 100%; 
  width: auto;
  height: auto;

  /* Centers the video */
  position: absolute;
}

/* END */